* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/IMAGE/vintage-old-rustic-cutlery-dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.port {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
}

.port .btnn i {
    margin: 20px;
    display: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    width: 100%;
}

.logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 30px;
    margin-right: 10px;
}

.navitems {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 75%;
}

.navitems p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: black;
}

.segment {
    display: flex;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.segment .login {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.segment .login p {
    margin-left: 10px;
}

.segment .sign {
    display: flex;
    align-items: center;
    background-color: black;
}

.segment .sign i {
    color: white;
}

.segment .sign p {
    margin-left: 10px;
    color: white;
}

.radius {
    padding: 10px;
    border: 3px solid black;
    border-radius: 20px;
}

.login:hover {
    background-color: black;
    color: white;
}

.sign:hover {
    border: 3px solid white;
    background-color: white;
}

.sign:hover p,
.sign:hover i {
    color: black;
}


.box {
    background: transparent;
    width: 750px;
    border-radius: 20px;
    color: white;
    padding: 40px;
    border: 2px solid black;
    backdrop-filter: blur(40px);
    margin: 0px 10px;
}

.box h1 {
    text-align: center;
}

.inputbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.inputbox .inputfield {
    width: 45%;
    position: relative;
    margin: 15px 0px;
}

.inputbox .inputfield input {
    width: 100%;
    height: 100%;
    outline: none;
    border: 2px solid lightgray;
    border-radius: 10px;
    background: transparent;
    font-size: 15px;
    color: white;
    padding: 10px 10px 10px 40px;
}

.inputbox .inputfield input::placeholder {
    color: white;
}

input[type=number]::-webkit-inner-spin-button {
    display: none;
}

.inputbox .inputfield i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 20px;
}

.declare {
    padding: 10px 20px 30px;
}

.bton button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;
    background-color: white;
    outline: none;
    border: 2px solid lightgray;
}

.back {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.back a{
    text-decoration: none;
    color: white;
}

.back a:hover{
    color: gray;
}

@media (max-width: 600px) {
    .inputbox .inputfield {
        width: 100%;
        margin: 10px;
    }

    .back{
        text-align: center;
        margin-top: 20px;
    }
}